header
  background mainColor url('../img/general/header_bg.jpg') center no-repeat
  height 70px
  color #fff
  .container
    display flex
    justify-content space-between
    align-items center
    padding: 15px 0
    height: 70px

.header-logo
  position relative
  top 35px
  z-index 1
  //left 50%
  //margin-left -70px

.header-nav_title
  color #fff

.header-about
  span
    display block
    font-size 16px

.header-company__name
  font-family boldFont
  text-transform uppercase
  margin-bottom 5px
  font-size 16px

.header-phone
  position relative
  padding-left 35px

  a
    display block
    color #fff
    font-size 20px
    font-family boldFont
    &:first-child
      margin-bottom 5 px
  .icon-phone
    fill #fff
    width 25px
    height 25px
    position absolute
    top 50%
    margin-top -10px
    content ''
    left 0
    display block
    color #fff
    left 0