header
    .container
        .header-nav
            .sandwich
                span.sandwich-line.sandwich-line--top
                span.sandwich-line.sandwich-line--middle
                span.sandwich-line.sandwich-line-bottom
            span.header-nav_title Меню
            include menu
        .header-about
            h1.header-company__name Группа компаний  Emerald
            span.header-company__descr Организация свадебных торжеств
        .logo.header-logo
            img(src="static/img/general/logo140x140.png" srcset="static/img/general/logo280x280.png 2x" alt="Логотип")
        .header-phone
            +icon('phone')
            a(href="tel:+74951955722") +7 (495) 195-57-22
            a(href="tel:+79853941057") +7 (985) 394-10-57
        a(href="javascript:void(0);").g-btn Заказать звонок