ul.header-nav_list
    li
        a(href="javascript:void(0);").header-nav_link Главная
    li
        a(href="javascript:void(0);").header-nav_link Услуги
    li
        a(href="javascript:void(0);").header-nav_link Портфолио
    li
        a(href="javascript:void(0);").header-nav_link Стоимость
    li
        a(href="javascript:void(0);").header-nav_link Наша команда
    li
        a(href="javascript:void(0);").header-nav_link Площадка-партнер
    li
        a(href="javascript:void(0);").header-nav_link Отзывы
    li
        a(href="javascript:void(0);").header-nav_link Не свадебные проекты
    li
        a(href="javascript:void(0);").header-nav_link Контакты