extends ../layout/main

block variables
	- var title = 'Главная страница'
block content
	include ../section/banner
	include ../section/about
	include ../section/services
	include ../section/portfolio
	include ../section/price