@import 'fonts.styl'
@import 'vars.styl'
@import 'libs.styl'
@import 'utils/mixins.styl'

html
	line-height 1.3
	font-size 18px


body
	font-family mainFont


h1,h2,h3,h4,h5,h6
	margin 0


ul,li
	margin 0
	padding 0
	list-style-type none

p
	margin 0

a
	text-decoration none
	color black

audio,
canvas,
iframe,
img,
svg,
video
	vertical-align middle


textarea
	resize none


section
	position relative
	padding 70px 0


input,
select,
button
	outline none


*, *:before, *:after
	box-sizing border-box
.container
	width 100%
	max-width 1170px
	margin 0 auto

// Общие стили
@import 'common_styles.styl'


// МОДУЛИ
// Стили шапки
@import 'modules/header/header.styl'

// Стили футера
@import 'modules/footer/footer.styl'

// Стили меню
@import 'modules/navigation/main-nav.styl'

//Компоненты
@import "components/components.styl"


// СТРАНИЦЫ
// Стили главной страницы
@import 'pages/index.styl'
// Стили блока о нас
@import 'section/_about.styl'
// Стили блока услуги
@import 'section/_servicies.styl'
// Стили блока Портфолио
@import 'section/_portfolio.styl'
// Стили блока Стоимость
@import 'section/_price.styl'
// Стили блока Наша команда
@import 'section/_team.styl'
// Стили блока площадка партнер
@import 'section/_partner.styl'
// Стили главного банера
@import 'section/_banner.styl'
