// ЦВЕТА
mainColor    = #007558
// РАЗМЕРЫ


// ШРИФТЫ
titleFont    = "Kurale-Regular",Arial,sans-serif
mainFont     = "PT_Sans-Web-Regular",Arial,sans-serif
boldFont     = "PT_Sans-Web-Bold",Arial,sans-serif
italicFont   = "PT_Sans-Web-italic",Arial,sans-serif