.portfolio
  height 1160px
  background: url('../img/general/portfolio-bg.jpg') 0 0 no-repeat

  &:before
    content ''
    display block
    position absolute
    top -19px
    left 0
    right 0
    height 21px
    width 100%
    background url('../img/general/wave.png')0 0 no-repeat

  &:after
    content ''
    display block
    position absolute
    bottom -20px
    left 0
    right 0
    height 21px
    background url('../img/general/wave_portfolio.png')0 0 no-repeat

.portfolio-item_wrap
  width 100%
  max-width 975px
  margin 0 auto

.portfolio-item_line
  display flex

.portfolio-item_center
  position relative
  display flex
  flex-wrap wrap

.portfolio-item
  position relative
  width 292px
  height 230px
  background-size cover
  cursor pointer
  &.portfolio-item--width
    width 390px
  &.portfolio-item--height
    right 1px
    top 0
    position absolute
    height 460px

  &:hover
    .portfolio-item_descr
      opacity 1

.portfolio-item_search
  right 10px
  bottom 10px
  position absolute
  width 25px
  height 25px
  background-color mainColor
  border 1px solid #fff
  border-radius 50%
  z-index 1
  &:after
    transform translate(-50%,-50%)
.icon-search
    content ''
    background url('../img/svg/search.svg') 0 0 no-repeat
    //display block
    width 13px
    height 13px
    background-size 100%
    position absolute
    top 5px
    left 5px
    fill:#fff


.portfolio-item_descr
  position absolute
  bottom 0
  left 0
  right 0
  background mainColor
  color #fff
  text-align right
  padding 15px 40px 15px 10px
  opacity 0
  transition all linear .3s

.portfolio-instagram
  text-align center
  font-size 28px
  color mainColor
  margin-top 20px