.price
  background url('../img/general/price-bg.jpg') 0 0 no-repeat

  .price-item_wrap
    display flex
    justify-content space-around
    flex-wrap wrap

  .price-item
    width: 30%
    padding 20px 20px 30px
    border-radius 10px
    text-align center
  .price-item--level1
    background url('../img/general/level/level1.png') 0 0 no-repeat
    background-size cover

  .price-item--level2
    background url('../img/general/level/level2.png') 0 0 no-repeat
    background-size cover

  .price-item--level3
    background url('../img/general/level/level3.png') 0 0 no-repeat
    background-size cover
