.services
  background:  url('../img/general/services-bg.jpg') 0 0 no-repeat
  color #fff
  &:before
    content ''
    display block
    position absolute
    top 0
    left 0
    right 0
    height 21px
    background url('../img/general/wave-top-white.png')0 0 no-repeat
  .container
    display flex
    flex-wrap wrap
    justify-content center

    .g-section-title
      width 100%

    .service-item
      position relative
      min-height 165px
      flex-basis auto
      width 40%
      margin 0 15px 40px
      padding-left 180px
      &.service-item--center
        width 30%

      &:before
        content ''
        position absolute
        left 0
        display block
        width 165px
        height 165px

.service-item_title
  font-size 24px
  font-family boldFont
  margin-bottom 10px
  display block
.service-item_text
  line-height 1.2

.service-item--organization
  &:before
    background: url('../img/content/services/organization.png') 0 0 no-repeat


.service-item--tamada
  &:before
    background: url('../img/content/services/tamada.png') 0 0 no-repeat

.service-item--photo
  &:before
    background: url('../img/content/services/photo.png') 0 0 no-repeat

.service-item--decor
  &:before
    background: url('../img/content/services/decor.png') 0 0 no-repeat

.service-item--banket
  &:before
    background: url('../img/content/services/banket.png') 0 0 no-repeat

.service-item--registration
&:before
  background: url('../img/content/services/registration.png') 0 0 no-repeat

.service-item--artist
  &:before
    background: url('../img/content/services/artist.png') 0 0 no-repeat