.team
  padding 0
  background: url('../img/general/team-bg.png') center no-repeat
  background-size cover

  &:before
    content ''
    display block
    position absolute
    top -20px
    left 0
    right 0
    height 21px
    width 100%
    background url('../img/general/wave-top-team.png')0 0 no-repeat
    z-index 1

  &:after
    content ''
    display block
    position absolute
    bottom -20px
    left 0
    right 0
    height 21px
    background url('../img/general/wave-bottom-team.png')0 0 no-repeat
    z-index 1

.team-content
  background url('../img/general/team-line.png')center no-repeat
  height: 1140px
  padding 70px 0
  color: mainColor
.team-photo
  width 165px
  height 165px
  border 2px solid mainColor
  border-radius 50%
  overflow hidden
  &.team-photo--leader
    position absolute
    left 0
    width 260px
    height 260px
    background: url('../img/content/team/team_lider.jpg') 0 0 no-repeat

.team-leader
  position absolute
  left 35%
  padding-left 290px

.team-leader_info
  width 100%
  max-width 260px

  span
    display block
    margin-bottom: 10px
    &:l
.team-leader_text
  font-family: italicFont

.team-liader_title
  font-size 24px
  font-family: boldFont