section.portfolio
    .container
        h2.g-section-title Портфолио
        .portfolio-item_wrap
            .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port1/prev.jpg')")
                .portfolio-item_search
                    +icon('search')
                .portfolio-item_descr
                    span Свадьба Александра и Юлии

            .portfolio-item(style="background-image: url('static/img/content/portfolio/port2/prev.jpg')")
                .portfolio-item_search
                    +icon('search')
                .portfolio-item_descr
                    span Свадьба Олега и Марии
            .portfolio-item(style="background-image: url('static/img/content/portfolio/port3/prev.jpg')")
                .portfolio-item_search
                    +icon('search')
                .portfolio-item_descr
                    span Свадьба Максима и Алисы