section.portfolio
    .container
        h2.g-section-title Портфолио
        .portfolio-item_wrap
            .portfolio-item_line
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port1/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Александра и Юлии

                .portfolio-item(style="background-image: url('static/img/content/portfolio/port2/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Олега и Марии
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port3/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Максима и Алисы


            .portfolio-item_center
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port4/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Андрея и Екатерины

                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port5/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Олега и Марии
                .portfolio-item.portfolio-item--height(style="background-image: url('static/img/content/portfolio/port6/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Дмитрия и Ники


                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port7/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Андрея и Екатерины

                .portfolio-item(style="background-image: url('static/img/content/portfolio/port8/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Олега и Марии



            .portfolio-item_line
                .portfolio-item.portfolio-item--width(style="background-image: url('static/img/content/portfolio/port9/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Андрея и Екатерины

                .portfolio-item(style="background-image: url('static/img/content/portfolio/port10/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Олега и Марии
                .portfolio-item(style="background-image: url('static/img/content/portfolio/port11/prev.jpg')")
                    .portfolio-item_search
                        +icon('search')
                    .portfolio-item_descr
                        span Свадьба Дмитрия и Ники

            .portfolio-instagram
                span Следите за нами в инстаграмме:&nbsp;
                +icon('instagram-color')
                span.instagram-text my_world_my_emerald