section.price
    .container
        h2.g-section-title.g-section-title--white Стоимость
        .price-item
            span.price_title Свадебный распорядитель
            p.price-descr Ваш личный помощник, который решает все
            | организационно-технический вопросы в день Вашего торжества:
            ul.price-list
                li – Встречает и провожает гостей
                li – Общается с банкетной службой ресторана
                li – Следит за работой свадебного персонала (фото, видео, артисты, ведущий, декоратор)
