section.services
    .container
        h2.g-section-title.g-section-title--white Услуги

        .service-item.service-item--organization
            span.service-item_title Организация
            p.service-item_text У нас не было, нет и никогда не будет готовых предложений с набором опций.&nbsp;
                b Свадьба – это маленькая жизнь со своей историей и душой.

        .service-item.service-item--tamada
            span.service-item_title Ведущий
            p.service-item_text В нашей команде &nbsp;
                b более 30 ведущих &nbsp;
                | разделяющих наше видение на свадебное торжество.

        .service-item.service-item--photo.service-item--center
            span.service-item_title Фотограф/Видеооператор
            p.service-item_text В нашей медиа-команде &nbsp;
                b более 20 специалистов, &nbsp;
                | проверенных нами.

        .service-item.service-item--decor.service-item--center
            span.service-item_title Декор
            p.service-item_text Команда декораторов нашей службы торжеств поможет Вам выбрать &nbsp;
                b стиль и цветовое решение &nbsp;
                | Вашей свадьбы.

        .service-item.service-item--banket.service-item--center
            span.service-item_title Банкет
            p.service-item_text Наша банкетная служба удовлетворит &nbsp;
                b любые вкусовые предпочтения &nbsp;
                | даже самого изысканного гурмана.

        .service-item.service-item--registration
            span.service-item_title Выездная регистрация
            p.service-item_text Выслушав &nbsp;
                b Ваши пожелания, предпочтения и мечту – &nbsp;
                | как должна пройти эта красивая история, мы поможем ее осуществить.

        .service-item.service-item--artist
            span.service-item_title Выездная регистрация &nbsp;
            p.service-item_text Разнообразить артистами зону велком, украсить банкетный вечер ярким выступлением, &nbsp;
                b поставить «вишенку на торт» в завершении вечера.