section.team
    .container
        .team-content
            h2.g-section-title Наша команда
            .team-leader
                .team-photo.team-photo--leader
                .team-leader_info
                    span.team-liader_title Виолетта Иваненчук
                    span.team-liader_work Основатель Группы компаний Свадебные торжества
                    span.team-liader_work Генеральный директор
                    | Ведущая , Фотограф
                    p.team-liader-text «Наша миссия - нести в массы культуру
                    | мероприятий. Любое торжество - свадьба, корпоратив или день рождение -
                    | это не банкет с тамадой и набором артистов. Это гораздо глубже, больше.
                    | Это эмоции и ощущения, с которыми человек уходит домой,
                    | поэтому у каждого нашего праздника есть личная история и душа».